#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family: 'lineNexa';
    position: relative;
}

.name-one {
    position: absolute;
    width: 95vw;
    opacity: .5;
}

.name-two {
    position: absolute;
    width: 95vw;
    opacity: .5;
}