#home {
    display: flex;
    /* justify-content: center; */
    /* align-items: end; */
    height: 100vh;
    font-family: 'lineNexa';
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.letters {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Forta';
    font-size: 300px;
    cursor: default;
}

.words {
    display: flex;
    align-items: center;
    height: 100%;
}

.word-dome {
    /* border-bottom: 10px solid black; */
    /* border-right: 10px solid black; */
}

.word-dome:hover {
    /* height: 80%; */
}

.word-nico {
    justify-content: start;
    /* align-items: start;     */
}

.words p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    transform: scaleY(1.7);
}

.letter-o {
    width: 250px;
    height: 250px;
    border: 40px solid black;
    border-radius: 50%;
    position: relative;
    margin-top: -55px;
    transition: width 1s ease, height 1s ease, border-radius 2s ease, background .5s ease;

}

/* .letter-o:hover {
    width: 800px;
    height: 385px;
    transition: width 1s ease, height 1s ease, border-radius 2s ease, background .5s ease;
    border-radius: 0;
    background-color: black;
} */

.letter-o:hover .eye {
    width: 220px;
    height: 220px;
    transition: width 1s ease, height 1s ease;
}

.eye {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width 1s ease, height 1s ease;
}
