#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'lineNexa';
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.letters {
    position: relative;
    /* height: 100vh; */
    display: flex;
    /* flex-direction: column; */
    padding: 0 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Forta';
    font-size: 300px;
    cursor: default;
    opacity: .8;
    border: 1px solid white;
    /* background: url(https://images.unsplash.com/photo-1530533609496-06430e875bbf?w=1600) center/cover; */
}

  

.words {
    display: flex;
    align-items: center;
}

.word-dome {
    /* border-bottom: 10px solid black; */
    /* border-right: 10px solid black; */
}

.word-dome:hover {
    /* height: 80%; */
}

.words p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    transform: scaleY(1.7);
    color: white;
}

.letter-o {
    width: 250px;
    height: 250px;
    border: 40px solid white;
    border-radius: 50%;
    position: relative;
    /* margin-top: -55px; */
    transition: width 1s ease, height 1s ease, border-radius 2s ease, background .5s ease;

}

/* .letter-o:hover {
    width: 800px;
    height: 385px;
    transition: width 1s ease, height 1s ease, border-radius 2s ease, background .5s ease;
    border-radius: 0;
    background-color: black;
} */

.letter-o:hover .eye {
    width: 220px;
    height: 220px;
    transition: width 1s ease, height 1s ease;
    /* background-color: white; */
}

.eye {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: width 1s ease, height 1s ease;
}


/* #################### */

.resume {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 40px;
    font-family: 'LineNexa';
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.resume a {
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 0 0 #006f7e;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
    cursor: pointer;
    color: var(--primary-font);
    height: 70px;
  }

.resume a:hover {
    color: #fff;
    box-shadow: inset 500px 0 0 0 #be8407;
    font-weight: 700;
  }

.resume span {
    margin-right: 15px;
    font-size: 60px;
}

.icons-div {
    position: absolute;
    top: 20%;
    right: 10%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.icons-div img {
    width: 70px;
}

/* ############################### DOMENICO */

.background-container {
    display: grid;
    place-content: center;
    min-height: 100vh;
    width: 100%;
    /* background: url(https://images.unsplash.com/photo-1530533609496-06430e875bbf?w=1600) center/cover; */
  }
  
  .stylish-text {
    display: grid;
    place-content: center;
    font-size: clamp(80px, 20vw, 300px);
    font-family: 'Forta';
    width: 100vw;
    height: 100vh;
    color: transparent;
    -webkit-text-stroke: 5px rgb(255, 255, 255);
    mix-blend-mode: screen;
    background: 
      linear-gradient(var(--dynamic-angle), #fff 50%, transparent 50.5%) text,
      linear-gradient(var(--dynamic-angle), rgba(0, 0, 0, 0.8) 50%, transparent 50.5%)
      
  }
  