#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'lineNexa';
    position: relative;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(52, 105, 141) 100%);
}